:root {
  /* Colors */
  --bg-primary: #242424;
  --bg-secondary: #393939;

  /* Text color */
  --text-color: #ffffffeb;

  /* Text Button color */
  --text-button: #81e6d9;

  /* Button Color */
  --button-bg: #81e6d9;

  /* Link Color */
  --link-color: #ff5fc1;
}

body {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  background-color: var(--bg-primary);
  color: var(--text-color);
  min-height: 100vh;
  /* Mobile-first typography */
  font-size: 1rem;
}
